# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store

# FastAPI
*.db

# Misc
*.sqlite3
*.bak

# Ignore local config
local_settings.py
